{% load static %}
<div class="grid grid-cols-5 gap-3 mb-4">
    <div class="group">
        <img class="w-24 m-auto" src="{% static 'site_image/cash-on-delivery.svg' %}" alt="">
        <div>
            <p class="text-center ">پرداخت درب
                منزل</p>
        </div>
    </div>
    <div class="group">
        <img class="w-24 m-auto" src="{% static 'site_image/days-return.svg' %}" alt="">
        <div>
            <p class="text-center ">7 روز مهلت
                تست</p>
        </div>
    </div>
    <div class="group">
        <img class="w-24 m-auto" src="{% static 'site_image/express-delivery.svg' %}" alt="">
        <div>
            <p class="text-center ">ارسال
                اختصاصی</p>
        </div>
    </div>
    <div class="group">
        <img class="w-24 m-auto" src="{% static 'site_image/original-products.svg' %}" alt="">
        <div>
            <p class="text-center ">ضمانت اصل
                بودن کالا</p>
        </div>
    </div>
    <div class="group">
        <img class="w-24 m-auto" src="{% static 'site_image/support.svg' %}" alt="">
        <div>
            <p class="text-center ">پشتیبانی
                فعال</p>
        </div>
    </div>
</div>