<div class="mb-4 grid grid-cols-4 gap-2">
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
</div>