<div class="mb-4 grid grid-cols-4 gap-2">
    <div class="col-span-4">
        <h1 class="text-center text-xl mb-2">جدیدترین محصولات</h1>
    </div>
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
    {% include 'components/ProductCard.html' %}
</div>